<% @questions.each do |value| %>
    <a data-url="getQuestionDetail?id=<%= value.id %>" class="ajaxRequest" href="javascript:void(0)"><%= value.title %></a><br>
<% end %>
<a data-url="moreQuestion" class="ajaxRequest" href="javascript:void(0)"><br><%= t('more_question') %></a>
