<ul>
<li><div class="selected" data-url="notice">公告通知</div></li>
<li><div data-url="relation">用户关系</div></li>
<li><div data-url="submit">进度提交</div></li>
<li><div data-url="share">文件共享</div></li>
<li><div data-url="question">问题解答</div></li>
</ul>
