<div class="leftPanelDiv">
  <div>
    <ul>
      <li class="headerLi">基本信息</li>
      <li class="selected" data-url="base_information/notice">公告通知</li>
      <li data-url="base_information/relation">用户关系</li>
    </ul>
  </div>
  <div>
    <ul>
      <li class="headerLi">工作管理</li>
      <li data-url="management/project_management">项目管理</li>
      <li data-url="management/plan">工作计划</li>
      <li data-url="management/task_distribute">分发任务</li>
      <li data-url="management/schedule_submit">进度提交</li>
      <li data-url="management/schedule_summary">进度总览</li>
    </ul>
  </div>
  <div>
    <ul>
      <li class="headerLi">资料分享</li>
      <li data-url="share/file_share">文件共享</li>
      <li data-url="share/question_answer">问题与解答</li>
    </ul>
  </div>
</div>


