<div class="leftPanelDiv">
  <div>
    <ul>
      <li class="headerLi">基本信息</li>
      <li class="selected" data-url="notice">公告通知</li>
      <li data-url="relation">用户关系</li>
    </ul>
  </div>
  <div>
    <ul>
      <li class="headerLi">项目管理</li>
      <li data-url="submit">进度提交</li>
    </ul>
  </div>
  <div>
    <ul>
      <li class="headerLi">资料分享</li>
      <li data-url="share">文件共享</li>
      <li data-url="question">问题与解答</li>
    </ul>
  </div>
</div>


