this is a router test.
<a href='form'>link</a>
<form action="form" method='post'>


<input type="text" name ='username'>


<input type='hidden' value='sb' name='sb'/>
<input type ="submit" value="submit"/>
</form>