<h1><%= t('show_schedule') %></h1>
<div class="show_shcedule">
  <% if !@schedules.blank? %>
      <% @schedules.each do |value| %>
          <a data-url="showSchedule?id=<%= value.id %>" class="ajaxRequest" href="javascript:void(0)"><%= value.date %></a>
      <% end %>
  <% end %>
  <br>
  <input type="button" value="<%= t('back') %>" class="ajaxRequest" data-url="management/schedule_submit">
</div>