/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
.footer {
    clear: both;
    background-color: black;
    font-size: 15px;
}

.jumpImage {
    position: fixed;
    width: 65px;
    height: 104px;
    right: 2%;
    bottom: 45%;
}

.toTop, .toBottom {
    width: 65px;
    height: 52px;
}

.topImage {
    background: url(up.jpg);
    /*opacity:0.5;*/
    display: block;
    width: 65px;
    height: 52px;
}

.bottomImage {
    background: url(down.jpg);
    /*opacity:0.5;*/
    display: block;
    width: 65px;
    height: 52px;
}

.topImage:hover {
    background: url(up1.jpg);
    opacity: 1;
}

.bottomImage:hover {
    background: url(down1.jpg);
    opacity: 1;
}

.emptyFooter {
    height: 20px;
}