.loginDiv{
  text-align: center;
  margin:0 auto;
}
.registerIframeDiv{
  background-image: url("2.jpg");
  width: 600px;
  height: 500px;
  position: absolute;
  left:50%;
  margin:-210px 0 0 -300px;
  display: none;
}
iframe{
  width: 600px;
  height: 500px;
  border: none;
}