// Place all the styles related to the register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.registerDiv{
  text-align: center;
}
.closeButton{
  background-image: url("8.jpg");
  width: 100px;
  height: 100px;
}