textarea{
  width: 90%;
  margin-top: 5px;
}

input[type=text]{
  margin-top: 5px;
}

.content{
  width:384px;
}
.file_content {
  float:left;
  position: relative;
  width: 284px;
}

.file_text {
  width: 180px;
  height: 24px;
  line-height: 24px;
  padding: 2px;
  border: 1px solid #aaa;
}

.file {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 30px;
  line-height: 30px;
  opacity: 0;
}

.QADiv{
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  padding: 20px;
  border-color: #3498db;
  border-style: solid;
}

.answersDiv{
  text-align: left;
  margin: 5px;
  padding: 10px;
  border-style: dashed;
  border-color: #3498db;
}

#answer{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

#questions{
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  padding: 20px;
  border-color: #3498db;
  border-style: solid;
}

#yourAnswerDiv{
  text-align: left;
  padding: 20px;
  border-color: #3498db;
  border-style: solid;
}

#title{
  width: 97%;
}

#description{
  width:97%;
}

#submitDiv{
  text-align: center;
}

.file_text{
  position: absolute;
  left: 0;
  display:none;
}

.file_button{
  position: absolute;
  left: 0;
}