// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leftPanel{
  float: left;
  width: 300px;
}
.rightPanel{
  float: right;
  width: 500px;
}