<div class="header">

  <span class="welcome">
    <%= t('system') %>
    <span class="username"><%= t('welcome') %>:  <%= @username %></span>
  </span>
  <span id="time" class="time"></span>
  <a class="logout" href="logout">x</a>
</div>
<script>
    document.all.time.innerHTML = new Date().toLocaleString();
    setInterval("document.all.time.innerHTML=new Date().toLocaleString()", 1000);
</script>